<!DOCTYPE html>
<html lang="en" ng-app="ArenaApp">
    <head>
        <title>Literature Lantern</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/topbar.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

    </head>
    <body ng-controller="ArenaCtrl" class="ng-cloak" ng-cloak>
        <div id="info-bar">
            <div id="gold-container" class="stat-container">

            </div>

            <div class="stat-container">
            </div>

            <div class="icon-container">

            </div>

        </div>
        <div>
            Hello {{name}}    
        </div>
        

            
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/arena.js"></script>
        <script src="js/api_service.js"></script>
        <script src="js/arena_ctrl.js"></script>

    </body>
</html>
