<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="801827873613-e0pvr219hq55uuc6hml8t0gfk9arpajj.apps.googleusercontent.com">
    <title>LLantern | Login</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/style.css" />

</head>
<body>
    <div id="main-container">
        <div id="login-container">
            <h3 id="login-instructions">Login to LiteratureLantern</h3>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/login.js"></script>
</body>
</html>
